@page "/trades/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Trades</h3>
<hr />
<br />

<FormComponent ButtonText="Create Trade" trade="trade" OnValidSubmit="@CreateTrade" />
@code {
    Trade trade = new Trade();

    private IList<Buyer>? Buyers;

    protected async override Task OnInitializedAsync()
    {
        Buyers = await _client.GetFromJsonAsync<List<Buyer>>($"{Endpoints.BuyersEndpoint}");
    }

    private async Task CreateTrade()
    {
        await _client.PostAsJsonAsync(Endpoints.TradesEndpoint, trade);
        _navManager.NavigateTo("/trades/");
    }
}
