@page "/profiles/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Profile </h3>
<hr />
<br />

<FormComponent ButtonText="Create Profile" profile="profile" OnValidSubmit="@CreateProfile" />

@code {
    Profile profile = new Profile();



    private async Task CreateProfile()
    {
        await _client.PostAsJsonAsync(Endpoints.ProfilesEndpoint, profile);
        _navManager.NavigateTo("/profiles/");
    }

}
