@page "/ListingsPage/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Listings</h3>
<hr />
<br />

<FormComponent ButtonText="Create Product" product="product" OnValidSubmit="@CreateProduct" />
    
@code{
    Product product = new Product();

    private IList<Seller>? Sellers;

    protected async override Task OnInitializedAsync()
    {
        Sellers = await _client.GetFromJsonAsync<List<Seller>>($"{Endpoints.SellersEndpoint}");
    }

    private async Task CreateProduct()
    {
        await _client.PostAsJsonAsync(Endpoints.ProductsEndpoint, product);
        _navManager.NavigateTo("/ListingsPage/");
    }

}
