@inject NavigationManager Navigation
<div class="top-row">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">EJProject</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <LoginDisplay />
                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="authentication/profile" Match="NavLinkMatch.All">
                                    <span aria-hidden="true"></span> Hello, @context.User.Identity?.Name!
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="#" @onclick="BeginLogOut" Match="NavLinkMatch.All">
                                    <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                                </NavLink>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="authentication/register" Match="NavLinkMatch.All">
                                    <span class="oi oi-person" aria-hidden="true"></span> Register
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
                                    <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                                </NavLink>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span  aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="ListingsPage">
                            <span  aria-hidden="true"></span> Browse Items
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="ChatPage">
                            <span  aria-hidden="true"></span> Chats
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="profiles">
                            <span  aria-hidden="true"></span> Profiles
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="sellers">
                            <span  aria-hidden="true"></span> Sellers
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="trades">
                            <span  aria-hidden="true"></span> Trades
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="buyers">
                            <span  aria-hidden="true"></span> Buyers
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="staffs">
                            <span  aria-hidden="true"></span> Staffs
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void BeginLogOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout", "/");
    }
}

