@page "/ListingsPage"


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Listings</title>
    <style>
        #D1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 35vh; /*the percentage amount that the div is taking up of this whole webpage*/
            background-color: #F1b04c;
           
        }

        #D2 {
            background-color: #F5C77E;
            border-radius: 25px;
            height:30px;
        }

        #D3 {
            background-color: #F9DDB1;
            border-radius: 25px;
            height:30px;
        }
    </style>
</head>

<body>
    <div id="D1">
        
        <div id="D2">
            <h2>Listings</h2>
        </div>
        <p>Check out all our available products here!</p>
        <div id="D3">
            <p>View by Category</p>
        </div>
    </div>
</body>
</html>


