@page "/ChatPage"

<div class=" Chat">
    
    <h3>My Chats hi</h3>
    <form action="/search" method="get">
        <label for="searchInput">Search:</label>
        <input type="search" id="searchInput" name="q" placeholder="Search here" />
        <button type="submit">Search</button>
    </form>

</div>


