@page "/"

<PageTitle>Index</PageTitle>

<h1>EJ S&T : Sell and Swap Platform</h1>

<h2>Welcome to E&J Sell&Swap App</h2>

<form action="/search" method="get">
    <label for="searchInput">Search:</label>
    <input type="search" id="searchInput" name="q" placeholder="Search here" />
    <button type="submit">Search</button>
</form>

<p> Still holding on to pre-loved items in good condition? Sell them here</p>
<button onclick="window.location.href = 'https://localhost:44362/PostListingsPage';"> Sell here </button>


<h4>Popular Listings</h4>


<h4>Why EJ?</h4>

<p>We have excellent reviews by our friendly users!</p>
<p>Your safety is ensured as we protect you from scams/susipicous listings!</p>
<p> The process is simple and hassle-free. Just chat here with your buyer/seller and arrange your deal conveniently</p>


<SurveyPrompt Title="Enjoy our website? Leave a review so we can satisfy our customers"/>
<button>Give review</button>
