@page "/"
<PageTitle>Index</PageTitle>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/Index.css" />
</head>
<body>
    <div id="header">
        <img src="E&J Logo.jpg" alt="E&J Logo" style="border-radius: 10px; max-width: 200px; height: auto;" class="Logo" />
        <h1>EJ S&T : Sell and Swap Platform</h1>
        <h2>Welcome to E&J Sell & Swap App</h2>
        <button id="sellButton" onclick="window.location.href = 'https://localhost:44362/ListingsPage';">Browse items here</button>
        <p>Still holding on to pre-loved items in good condition? Sell them here</p>
        <button id="sellButton" onclick="window.location.href = 'https://localhost:44362/ListingsPage/create';">Sell here</button>
    </div>

    <div id="popularListings">
        <h4>Our Values</h4>
    </div>

    <div id="featureSection">
        <div class="featureBox">
            <img src="Reviews.jpg" alt="Failed review icon"  />

            <h4>Why EJ?</h4>
            <p>We have excellent reviews by our friendly users!</p>
        </div>

        <div class="featureBox">
            <img src="Safety.jpg" alt="Failed safety icon" />
            <h4>Your Safety</h4>
            <p>Your safety is ensured as we protect you from scams/suspicious listings!</p>
        </div>

        <div class="featureBox">
            <img src="Easy.jpg" alt="Failed easy icon" />
            <h4>Easy Process</h4>
            <p>The process is simple and hassle-free. Just chat here with your buyer/seller and arrange your deal conveniently</p>
        </div>
    </div>
</body>
</html>





