@page "/"

<PageTitle>Index</PageTitle>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <style>
        body {
            background-color: #48CAE4;
        }
    </style>
</head>
<body>
    <h1>EJ S&T : Sell and Swap Platform</h1>

    <h2>Welcome to E&J Sell&Swap App</h2>

         <form action="/search" method="get">
        <label for="searchInput">Search:</label>
        <input type="search" id="searchInput" name="q" placeholder="Search here" />
        <button type="submit">Search</button>
    </form>


    <p> Still holding on to pre-loved items in good condition? Sell them here</p>
    <button onclick="window.location.href = 'https://localhost:44362/PostListingsPage';"> Sell here </button>


    <h4>Popular Listings</h4>


    <h4>Why EJ?</h4>

    <p>We have excellent reviews by our friendly users!</p>
    <a>
        <img src="Reviews.jpg" alt="Failed review icon" width="150" height="160" />

    </a>
        <SurveyPrompt Title="Enjoy our website? Leave a review so we can satisfy our customers" />
    
    
    <p>Your safety is ensured as we protect you from scams/susipicous listings!</p>
    <a>
        <img src="Safety.jpg" alt=" Failed safety icon" width=" 150" height="160">
    </a>
    <p> The process is simple and hassle-free. Just chat here with your buyer/seller and arrange your deal conveniently</p>
    <a>
        <img src="Easy.jpg" alt=" Failed easy icon" width="150" height="160">
    </a>
</body>
</html>

