@page "/likedItemsPage"

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Liked items</title>
    <style>
        #D1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 35vh; /*the percentage amount that the div is taking up of this whole webpage*/
            background-color: #DDFF77;
        }


        #D1 img {
                width: 100px;
                height: 50px;
            }
    </style>
</head>
<body>
    <div id="D1">
            <a>
                <img src="HeartIcon_LikedPage.jpg" alt="Failed" />
            </a>
        <p>Check out all our available products here!</p>
            <a>
                <img src="LikeIcon_LikedPage.jpg" alt="Failed" />
            </a>
    </div>
</body>
</html>



