@page "/PostListingsPage"
<h3>PostListings</h3>
<h5> Post your listings here</h5>
@code {
   

    
}

<div class="container">
    <form action="/listitem_page.php">
        <label for="pname">Product name: </label>
        <input type="text" id="pname" name="pname" placeholder="Product Name.." size="50"><br><br>

        <label for="categories">Choose a Category:</label>
        <select name="categories" id="categories" placeholder="Select Category">
            <option value="fashion">Fashion</option>
            <option value="electronics">Electronics</option>
            <option value="shoes">Shoes</option>
            <option value="toys">Toys/Games</option>
        </select><br><br>

        <label for="pdesc">Description of Product: </label>
        <textarea id="pdesc" name="pdesc" placeholder="Description(features, condition etc.)" style="width:450px">
            </textarea><br><br>

        <label for="price">Price($):  </label>
        <input type="text" id="price" name="price" placeholder="Price"><br><br>

        <label for="location">Preferred Meetup Location:  </label>
        <input type="text" id="location" name="location" placeholder="Meetup Location(Address/Area)" size="50"><br><br>

        <input type="submit" value="List product">
    </form>
</div>
