
body {
    background-color: #48CAE4;
}

.card-title {
    color: #007BFF; /* Title color */
    margin-bottom: 20px;
}

.btn-secondary {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
}

    .btn-secondary:hover {
        background-color: #0056b3;
    }

.table {
    background-color: #fff; /* Table background color */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .table th,
    .table td {
        text-align: center;
        padding: 12px;
    }

    .table th {
        background-color: #343a40; /* Header background color */
        color: #fff;
    }

    .table tbody tr:nth-child(odd) {
        background-color: #343a40 /* Odd row background color */
    }
    .table tbody tr:nth-child(even) {
        background-color: #000000; /* Odd row background color */
    }

    .table tbody tr:hover {
        background-color: #d6d8db; /* Hovered row background color */
    }

.btn-primary,
.btn-warning,
