@page "/sellers/create/"
@inject HttpClient _client
@inject NavigationManager _navManager


<h3 class="card-title">Create new Sellers</h3>
<hr />
<br />

<FormComponent ButtonText="Create Seller" seller="seller" OnValidSubmit="@CreateSeller" />


@code {
    Seller seller = new Seller();
    private async Task CreateSeller()
    {
        await _client.PostAsJsonAsync(Endpoints.SellersEndpoint, seller);
        _navManager.NavigateTo("/sellers/");
    }
}
